[submodule "_tools/visage"]
	path = _tools/visage
	url = https://github.com/VitalAudio/visage
[submodule "_tools/pluginval"]
	path = _tools/pluginval
	url = https://github.com/Tracktion/pluginval
[submodule "_tools/JUCE"]
	path = _tools/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "_tools/Gin"]
	path = _tools/Gin
	url = https://github.com/FigBug/Gin.git
[submodule "_tools/JIVE"]
	path = _tools/JIVE
	url = https://github.com/ImJimmi/JIVE.git
	ignore = dirty
